:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #211e29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
}

svg {
  height: 0;
  width: 0;
  display: none;
}

@keyframes jumbo {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.lights {
  position: absolute;
  opacity: 50%;
  width: 100%;
  height: 100vh;
  --stripes: repeating-linear-gradient(100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%);
  --rainbow: repeating-linear-gradient(100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%);
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: blur(10px) opacity(50%) saturate(200%);

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
  z-index: -1;
}

.lights::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 120s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  --orb-width: 60px;
  --orb-half-width: calc(var(--orb-width) / 2);
}

section {
  width: 150px;
  height: 150px;
  position: relative;
  filter: url(#goo);
  animation: rotate 12s ease-in-out infinite 1s, appear 1s ease 0s 1;
  transition: scale 1s ease;
}


section:hover .orb {
  scale: 0.85;
}

.orb {
  display: block;
  position: absolute;
  width: var(--orb-width);
  height: var(--orb-width);
  background: grey;
  border-radius: 50%;
  filter: blur(7px);
  transition: scale 0.2s ease;
  /*   mix-blend-mode: hard-light; */
  /*   mix-blend-mode: soft-light; */
}

.hue-filter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: hard-light;
}

.orb-1 {
  left: calc(50% - var(--orb-half-width));
  top: calc(50% - var(--orb-half-width));
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  animation: wave 6s ease-in-out infinite;
  rotate: 120deg;
}

.orb-2 {
  left: calc(50% - var(--orb-half-width));
  top: calc(50% - var(--orb-half-width));
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  animation: wave 6s ease-in-out infinite;
  rotate: 240deg;
}

.orb-3 {
  left: calc(50% - var(--orb-half-width));
  top: calc(50% - var(--orb-half-width));
  background: linear-gradient(90deg, #be3bff, #00ffdd);
  animation: wave 6s ease-in-out infinite;
  rotate: 360deg;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(120deg);
  }

  66% {
    transform: rotate(240deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wave {
  0% {
    transform: translate(0px) rotate(0deg);
  }

  25% {
    transform: translate(20px, 0) rotate(360deg);
  }

  50% {
    transform: translate(0px) rotate(720deg);
  }

  75% {
    transform: translate(15px) rotate(900deg);
  }

  100% {
    transform: translate(0px) rotate(1080deg);
  }
}


.title {
  /* mix-blend-mode: color-burn; */
  z-index: 1;
  position: relative;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: relative;
  opacity: 0.75;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 1;
}

.icon-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  /* background: rgba(131, 58, 180, 1); */
  background: red;
  filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.link:hover .icon-bg {
  visibility: visible;
  opacity: 1;

  filter: blur(12px);
}

.link--gh .icon-bg {
  background: #1f883d;
}

.link--tg .icon-bg {
  background: #2aabee;
}

.link--lin .icon-bg {
  background: #0077b5;
}

/* #1f883d gh */
/* #2aabee tg */
/* #0077b5 lin */

.icon {
  width: 48px;
  height: 48px;
  position: relative;
  /* mix-blend-mode: color-burn; */
}

.link--gh .icon {
  width: 38px;
  height: 38px;
}

.link--tg .icon {
  width: 42px;
  height: 42px;
}



@keyframes appear {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}